#reg_head {
    height: 100px;
    box-shadow: 5px 0px 15px #ccc;
}

#reg_head .reg_h_center {
    width: 1200px;
    margin: 0px auto;

    height: 100px;
    display: flex;
}

#reg_head .reg_h_left {

    flex: 1;
}

#reg_head .reg_h_left img{
    width: 160px;
    height: 100px;
    float: left;
}
#reg_head .reg_h_left h3{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 16px;
    float: left;
}

#reg_head .reg_h_right {
    flex:1;
}
#reg_head .reg_h_right span{
    text-decoration: none;
    float: right;
    font-size: 16px;
    margin-top: 40px;
    margin-right: 20px;
    color: #666;
}

#reg_head .reg_h_right a{
    text-decoration: none;
    float: right;
    font-size: 16px;
    margin-top: 40px;
    color: #666;
}

#reg_center{
    width: 1400px;
    height: 550px;

    margin: 20px auto;
    display: flex;
}

#reg_center .reg_cen_left{
    flex: 2;

}
#reg_center .reg_cen_right{
    flex: 1;
    border-left: 1px solid #ccc;
    padding-top: 100px;
    padding-left: 100px;

}

#reg_center .reg_cen_left form{
    display: block;
    width: 600px;
    margin: 50px auto;
}

#reg_center .reg_cen_left form div{
    margin-bottom: 20px;
    width: 500px; ;
    height: 60px ;
    line-height: 60px;
    border: 1px solid #ccc;
    padding-left: 20px;
    font-size: 16px;
    color: #666;
}

#reg_center .reg_cen_left form div:last-child{
    padding-left: 0px;
    border: none ;
}

#reg_center .reg_cen_left input{
    margin-bottom: 3px;
    width: 300px;
    height: 50px;
     padding-left: 0px;
     border: none ;
 }

#reg_center .reg_cen_left img{
    height: 58px;
    width: 120px;
    float: right;
}

#reg_center .reg_cen_left .reg_button{
    width: 500px;
    height: 60px;
    background: #ff4400;
    color: white;
    font-size: 20px;
    text-align: center;
}

